<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jf.projects.zmt.dao.PigBreedMapper">
  <resultMap id="BaseResultMap" type="com.jf.projects.zmt.model.PigBreed">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id,name,create_time, update_time, status
  </sql>
  <insert id="insert" parameterType="com.jf.projects.zmt.model.PigBreed">
    insert into pig_breed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.jf.projects.zmt.model.PigBreed">
    update pig_breed
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 获取一条数据 -->
  <select id="findById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pig_breed
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 删除 -->
  <delete id="delete">
    delete from pig_breed
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 根据名称获取，如果有返回值则重复，修改需要传id -->
  <select id="isRepetition" resultMap="BaseResultMap">
	  select 
	    <include refid="Base_Column_List" />
	    from pig_breed breed WHERE breed.`name` = #{name,jdbcType=VARCHAR}
	    <if test="id != null">
	      AND breed.id != #{id,jdbcType=VARCHAR}
	    </if>
	    LIMIT 1
  </select>
  <!-- 分页获取 -->
  <select id="findAllPigBreed" resultType="com.jf.projects.zmt.vo.pigBreed.PigBreedVo">
  	SELECT breed.id AS id,breed.`name` AS `name`,
		if(breed.`status`="enable","正常","禁用") AS `status`,
		DATE_FORMAT(breed.create_time,'%Y-%m-%d') AS createTime
	FROM pig_breed breed
  </select>

	<select id="findPigBreedOfEnable" resultType="com.jf.projects.zmt.vo.pigBreed.PigBreedEnableVo">
		SELECT breed.id AS id,breed.`name` AS `name`
		FROM pig_breed breed
		WHERE breed.status="enable"
	</select>
  
</mapper>